---
title: Hiking
description: I love to hike!

layout: hero
title_hero_image: hike
title_hero_title_color: white
title_hero_subtitle_color: white-ter
permalink: /hiking/
---

<section class="section">
	<div class="container">

		{% for challenge in site.data.peaks %}

			<article class="message is-info message-accordion">
				<div class="message-header">
					<p>{{ challenge.name }}</p>
					
					<a role="button" arial-label="expand" aria-expanded="false">
						<span class="icon is-small">
							<i class="las la-plus-circle"></i>
						</span>
					</a>
				</div>
				<div class="message-body is-hidden">
					<div class="columns is-centered">
						<div class="column is-nasrrow">
							<table class="table is-striped is-hoverable is-fullwidth">
								<thead>
									<tr>
										<th>Peak</th>
										<th>Elevation</th>
										<th>Completed</th>
										<th>Winter</th>
									</tr>
								</thead>
								<tbody>
									{% for goal in challenge.goals %}
										<tr>
											<td>{{ goal.name }}</td>
											<td>{{ goal.elev }}'</td>
											<td>
												{% if goal.completed %}
													{{ goal.completed | date_to_long_string }}
												{% else if goal.completed_winter %}
													{{ goal.completed_winter | date_to_long_string }}
												{% endif %}
											</td>
											<td>
												{% if goal.completed_winter and goal.completed_winter != false %}
													{{ goal.completed_winter | date_to_long_string }}
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

		{% endfor %}

	</div>
</section>