---
title: Hiking
description: journal — under construction!

permalink: /hiking/
---

{% include hero_header.html image="hike" title_color="white" subtitle_color="grey-lighter" %}

<section class="section">
	<div class="container">

		<h2 class="is-size-2 has-text-centered">Peaks</h2>

		<p class="is-size-5 has-text-justified pt-3 pb-4">
			<i>Peak bagging</i> is the sport of summiting each peak in a mountain range
			or published list of peaks; the end goal is to have summited every peak in the list.
			I am not one to adhere strongly to a set list, but I do like peak bagging as a way
			to discover new hikes. It's also a great excuse to go travel!
		</p>

		{% assign peak_challenges = site.data.peaks | sort: "name" %}
		{% for challenge in peak_challenges %}

			<div class="box">

				<h3 class="is-size-3 is-underlined">{{ challenge.name }}</h3>

				<p class="pt-3 pb-4">{{ challenge.description }}</p>

				<article class="message message-accordion">
					<div class="message-header">
						<p class="has-text-weight-normal">
							<span class="is-italic">{{ challenge.name }}</span> progress
							{% assign challenge_completed_list = "" | split:',' %}
							{% for goal in challenge.goals %}
								{% if goal.completed or goal.completed_winter and goal.completed_winter != false %}
									{% assign challenge_completed_list = challenge_completed_list | push: goal %}
								{% endif %}
							{% endfor %}
							({{ challenge_completed_list | size }}/{{ challenge.goals | size }})
						</p>
						
						<a role="button" arial-label="expand" aria-expanded="false">
							<span class="icon is-small">
								<i class="las la-plus-circle"></i>
							</span>
						</a>
					</div>
					<div class="message-body is-hidden">
						<div class="table-container">
							<table class="table is-striped is-hoverable is-fullwidth is-mobile">
								<thead>
									<tr>
										<th>Peak</th>
										<th>Elevation</th>
										<th>Completed</th>
										<th>Winter</th>
									</tr>
								</thead>
								<tbody>
									{% for goal in challenge.goals %}
										<tr>
											<td>{{ goal.name }}</td>
											<td>{{ goal.elev }}'</td>
											<td>
												{% if goal.completed %}
													{% include link_hike.html date=goal.completed %}
												{% else if goal.completed_winter %}
													{% include link_hike.html date=goal.completed_winter %}
												{% endif %}
											</td>
											<td>
												{% if goal.completed_winter and goal.completed_winter != false %}
													{% include link_hike.html date=goal.completed_winter %}
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</article>
			</div>

		{% endfor %}

		<nav class="panel">
			<p class="panel-heading">
				Hike Logs
			</p>

			{% for h in site.hikes %}
				<a class="panel-block" href="{{ h.url }}">{{ h.date | date_to_long_string }} - {{ h.title }}</a>
			{% endfor %}
		</nav>

	</div>
</section>