<header class="mb-4">

	<h2 class="title is-size-2">
		<span class="has-text-weight-light">{{ include.prepend_title }}</span>
		<span>{{ include.post.title }}</span>
		{% if include.post.draft %}
			<span class="tag is-medium is-warning">DRAFT</span>
		{% endif %}
	</h2>

	<h3 class="subtitle">{{ include.post.date | date_to_long_string }}</h3>

	{% assign tag_class = "tag is-rounded is-medium" %}

	<div class="tags">
		<span class="{{ tag_class }}">{% if include.post.category %}{{ include.post.category }}{% else %}no category{% endif %}</span>
		{% if include.post.location %}<span class="{{ tag_class }}">&#127758; {{ include.post.location }}</span>{% endif %}
		{% if include.post.distance %}<span class="{{ tag_class }}">&#129406; {{ include.post.distance }} miles</span>{% endif %}
		{% if include.post.elev_gain %}<span class="{{ tag_class }}">&#9650; {{ include.post.elev_gain }} feet</span>{% endif %}
		{% if include.post.duration %}<span class="{{ tag_class }}">&#9201; {{ include.post.duration }} hours</span>{% endif %}
		{% if include.post.worlds %}
			{% for worl in include.post.worlds %}
			<span class="{{ tag_class }}">
				{% include world/link.html world=worl %}
				{% assign world_to_calc = site.worlds | where_exp: "item", "item.slug == worl" | first %}
				, day {% include world/calc_days.html post=include.post world=world_to_calc %}
			</span>
			{% endfor %}
		{% endif %}
	</div>

</header>

<main>

	<div class="content">
		{{ include.post.content }}
	</div>

</main>

<nav class="has-text-centered mt-5">

	<a href="{{ include.post.previous.url }}">
		<button class="button is-outlined is-link" {% unless include.post.previous %}disabled{% endunless %}>
			Prev
		</button>
	</a>

	<a href="{{ include.post.next.url }}">
		<button class="button is-outlined is-link" {% unless include.post.next %}disabled{% endunless %}>
			Next
		</button>
	</a>

</nav>