@charset "utf-8"

$control-radius: 0

// Import initial bulma variables
@import "bulma/utilities/initial-variables"
@import "bulma/utilities/functions"

// Import the rest of bulma
@import "bulma/_all"

// Custom image hero
.hero-with-image
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	background-size: cover
	background-color: $grey-darker

	background-image: url(/assets/site-background.jpg)

.a-button
	color: inherit
	text-decoration: inherit

	&:hover
		color: inherit