@import "bulma/utilities/initial-variables";
@import "bulma/utilities/functions";
@font-face {
    font-family: 'Titillium';
    src: url(/assets/TitilliumWeb-Regular.ttf) format('truetype');
}

$color-background: #000000;
$color-background-invert: $color-background;
$color-text: #FFFFFF;
$color-text-invert: $color-text;
$color-accent: #3ed8ff;
$color-accent-invert: $color-accent;
$color-accent-secondary: #ffffff;
$color-accent-secondary-invert: $color-accent-secondary;
$color-accent-tertiary: #ff802c;
$color-accent-tertiary-invert: $color-accent-tertiary;

// Bulma overrides
$color-background-invert: findColorInvert($color-background-invert);
$color-text-invert: findColorInvert($color-text-invert);
$color-accent-invert: findColorInvert($color-accent-invert);
$color-accent-secondary-invert: findColorInvert($color-accent-secondary-invert);
$color-accent-tertiary-invert: findColorInvert($color-accent-tertiary-invert);

@import "bulma/utilities/derived-variables";
$newColors: (
	"color-background":($color-background, $color-background-invert),
	"color-text":($color-text, $color-text-invert),
	"color-accent":($color-accent, $color-accent-invert),
	"color-accent-secondary":($color-accent-secondary, $color-accent-secondary-invert)
);

$colors: map-merge($colors, $newColors);
$family-primary: 'Titillium', sans-serif;

// Custom styles
html{
	scroll-behavior: smooth;
}

.a-button {
	color: inherit;
	text-decoration: inherit;

	&:hover{
		color: inherit;
	}
}

.title-hero{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: $color-background;

	&-main{
		background-image: linear-gradient(0deg, rgba($color-background, 1) 0%, rgba($color-background, 0) 30%), url(/assets/images/site-background.jpg);
	}
}

@mixin title-hero-text($text-color){
	color: $black-ter;
	& span{
		$border-radius: 0.3em;
		$highlight-size-multiplier: 0.35;

		background-color: $text-color;
		border: $border-radius solid $text-color;
		border-top-width: $border-radius * $highlight-size-multiplier;
		border-bottom-width: $border-radius * $highlight-size-multiplier;
	}
}

.title-hero-text-primary{
	@extend .title;
	@include title-hero-text($color-accent);
}

.title-hero-text-secondary{
	@extend .subtitle;
	@include title-hero-text($color-accent-secondary);
}

.title-hero-text-tertiary{
	@extend .subtitle;
	@include title-hero-text($color-accent-tertiary);
}