---
layout: worlds
---

<h1>{{ page.title }}</h1>

<div class="box">
	Type:
	{% case page.environment_type %}
	{% when "open_terrestrial" %}Terrestrial
	{% when "sealed_terrestrial" %}Sealed Terrestrial
	{% when "sealed_aquatic" %}Sealed Aquatic
	{% endcase %}<br />
	Created: {{ page.started | date: site.date_natural }}<br />
	Status:
	{% case page.status %}
	{% when 0 %}Alive
	{% when 1 %}Dormant
	{% when 2 %}Deceased
	{% endcase %}<br />
	{% if page.species and page.species != "" %}
	Notable Species: {{ page.species }}<br />
	{% endif %}
	<p>
		{% if page.image %}
		{% include image.html tag=page.image basic=true %}
		{% endif %}
	</p>
</div>

{{ content }}

<h2>Updates</h2>

<table class="table is-striped is-hoverable is-fullwidth is-mobile">
	<thead>
		<tr>
			<th>Day</th>
			<th>Update</th>
		</tr>
	</thead>
	<tbody>
		{% assign relevant_posts = site.categories.worlds | sort:"date" | reverse | where_exp: "item", "item.worlds
		contains page.slug" %}
		{% if relevant_posts.size > 0 %}
		{% for post in relevant_posts %}
		<tr class="is-clickable">
			<td>{% include world/calc_days.html post=post world=page %}</td>
			<td>
				<a href="{{ post.url }}">
					{{ post.title | truncate: 40 }}
				</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td>none yet...</td>
			<td>check back later!</td>
		</tr>
		{% endif %}
	</tbody>
</table>