---
layout: base
---

<div class="container is-max-desktop mb-6">
	<div class="columns is-centered pl-3 pr-3">
		<div class="column is-3">
			<nav class="panel">
				<p class="panel-heading mb-0">
					Worlds
				</p>
			
				{% assign worlds = site.worlds | sort: "status" %}
				{% for w in worlds %}
			
					<a class="panel-block" href="{{ w.url }}">
						<span>
							{{ w.title }} {% include world/emoji.html world=w %}
						</span>
					</a>
			
				{% endfor %}
			</nav>
		</div>
		<div class="column">
			{{ content }}
		</div>
	</div>
</div>