---
layout: base
---

<header>

	<section class="hero hero-with-image is-medium">

		<div class="hero-body">
			<h1 class="title">{{ site.title }}</h1>
			<h3 class="subtitle">{{ site.description }}</h3>
		</div>

		<div class="hero-foot">
			<div class="container has-text-centered mb-3">
				{% for social in site.data.socials %}
				
				<a class="has-text-grey-lighter" href="{{ social.url }}">
					<i class="{{ social.icon_class }} la-4x"></i>
				</a>

				{% endfor %}
			</div>
		</div>

	</section>

</header>

<main>

	{{ content }}

</main>