---
layout: base
---

{% assign dev_projects = site.dev_projects | sort: "order" %}

<section class="hero is-medium{% if page.title_hero_image %} hero-image-{{ page.title_hero_image }}{% endif %}">

	<div class="hero-body">
		<h1 class="title{% if page.title_hero_title_color %} has-text-{{ page.title_hero_title_color }}{% endif %}">
			{% if page.title %}
				{{ page.title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		</h1>
		<p class="subtitle{% if page.title_hero_subtitle_color %} has-text-{{ page.title_hero_subtitle_color }}{% endif %}">
			{% if page.description %}
				{{ page.description }}
			{% else if not page.title %}
				{{ site.description }}
			{% endif %}
		</p>
	</div>

</section>

{{ content }}