---
layout: base
---

<section class="section">
	<div class="columns is-centered reverse-columns-mobile">
		<div class="column is-3">
			<nav class="panel">
				<p class="panel-heading mb-0">
					Worlds
				</p>
			
				{% assign worlds = site.worlds | sort: "status" | where_exp: "world", "world.status < 2" %}
				{% for w in worlds %}
			
					<a class="panel-block" href="{{ w.url }}">
						<span>
							{{ w.title }} {% include world/emoji.html world=w %}
						</span>

						{% include world/tag.html world=w %}
					</a>
			
				{% endfor %}
			</nav>

			<nav class="panel">
				<p class="panel-heading mb-0">
					Archive
				</p>
			
				{% assign worlds = site.worlds | sort: "status" | where_exp: "world", "world.status == 2" %}
				{% for w in worlds %}
			
					<a class="panel-block" href="{{ w.url }}">
						<span>
							{{ w.title }} {% include world/emoji.html world=w %}
						</span>

						{% include world/tag.html world=w %}
					</a>
			
				{% endfor %}
			</nav>
		</div>
		<div class="column is-6">
			{{ content }}
		</div>
	</div>
</section>